# حظر ملف المفاتيح السرية والباسووردات من الرفع نهائياً
.env

# حظر مجلد الحزم والمكتبات الثقيلة (لأن رندر سيقوم بتثبيتها تلقائياً أونلاين)
node_modules/

# حظر أي ملفات سجلات أو أخطاء
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
